.productOverview {
  background: url("./Images/freedom.jpg");
  width: 100%;
  height: 528px;
  padding: 10px;
  position: relative;
}

.productOverview h1 {
  color: white;
  position: absolute;
  bottom: 5%;
  left: 3%;
}
.sectionTitle {
  color: #0d960d;
  text-align: center;
}

.plans article {
  background: #d5ffdc;
  text-align: center;
  padding: 16px;
  margin: 8px;
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}

.title {
  color: #0e4f1f;
}
.price {
  color: #858585;
}

.plans article:nth-child(2) .title {
  color: white;
}
.plans article:nth-child(2) .price {
  color: #0e4f1f;
}

.plans article:nth-child(2) {
  background-color: #19b84c;
  color: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}
.plans article:nth-child(2) h1:first-child {
  background-color: white;
  color: #19b84c;
  padding: 8px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
  border-radius: 8px;
}
button {
  background-color: #0e4f1f;
  color: white;
  font: inherit;
  border: 1.5px solid #0e4f1f;
  padding: 8px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}
button:hover,
button:active {
  background-color: white;
  color: #0e4f1f;
}
button:focus {
  outline: none;
}
.keyFeatures {
  background-color: #ff1b68;
  margin-top: 80px;
  padding: 16px;
}
.keyFeatures .sectionTitle {
  color: white;
  margin: 32px;
}
.keyFeatures ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.keyFeatures li {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}
.keyFeatures div {
  background-color: #ffcede;
  width: 128px;
  height: 128px;
  border: 2px solid #424242;
  border-radius: 50%;
  margin: 0 auto;
}
.keyFeatures p {
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 20px;
}

.plans ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.plans li {
  margin: 8px 0;
}
.plans div {
  width: 80%;
  margin: auto;
  text-align: center;
}
.mainFooter {
  background-color: black;
  padding: 32px;
  margin-top: 48px;
}

.mainFooter ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.mainFooter li {
  display: inline-block;
  margin: 0 16px;
}

.mainFooter a {
  color: white;
  text-decoration: none;
}

.mainFooter a:hover,
.mainFooter a:active {
  color: #ccc;
}
