.mainFooter {
  background-color: black;
  padding: 2rem;
  margin-top: 3rem;
}

.mainFooter ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.mainFooter li {
  display: inline-block;
  margin: 0 1rem;
}

.mainFooter a {
  color: white;
  text-decoration: none;
}

.mainFooter a:hover,
.mainFooter a:active {
  color: #ccc;
}
