.mainFooter {
  background-color: black;
  padding: 2rem;
  margin-top: 3rem;
  /* grid-row: 3/4; */
  grid-area: footer;
}

.mainFooter ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainFooter li {
  margin: 0.5rem 0;
}

.mainFooter a {
  color: white;
  text-decoration: none;
}

.mainFooter a:hover,
.mainFooter a:active {
  color: #ccc;
}

@media (min-width: 40rem) {
  .mainFooter li {
    margin: 0 1rem;
  }

  .mainFooter ul {
    flex-direction: row;
    justify-content: center;
  }
}
